*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    color: inherit;
    line-height: 1.5em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
iframe,
figure,
canvas {
    max-width: 100%;
    width: 100%;
    display: block;
    height: initial;
}
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}
p a {
    display: inline;
}
li,
menu,
summary {
    list-style: none;
}
ol {
    counter-reset: revert;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
mark,
del,
pre,
code {
    font: inherit;
    line-height: 1em;
    color: inherit;
    text-decoration: none;
    text-wrap: pretty;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
form,
input,
textarea,
select,
button,
label {
    font: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}
textarea {
    white-space: pre-wrap;
}
button,
label {
    cursor: pointer;
}
::placeholder {
    color: unset;
}
table,
tr,
td,
th,
thead,
tbody,
tfoot {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
}

svg {
    width: 100%;
    display: block;
    height: initial;
    fill: currentColor;
}
p svg {
    display: inline;
    width: initial;
}
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    line-break: after-white-space; /* ESTÁNDAR */
    -webkit-line-break: after-white-space;
    user-select: auto; /* ESTÁNDAR */
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
