<<<<<<< HEAD
:root {
--bg-color: #080808;
--second-bg-color: #131313;
--text-color: white;
--main-color: #00ffee;
=======
:root {
--bg-color: #080808;
--second-bg-color: #131313;
--text-color: white;
--main-color:_ #00ffee;
>>>>>>> 24d225e (Commit for pull error)
}